.photo-page {
  display: grid;
  max-width: 100%;
  
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vw;
  grid-auto-flow: row;
}

.photo-page .photo {
  width: 100%;
}

.photo-page .author-image {
  width: 128px;
  height: 128px;
  border-radius: 30px;
  margin: 5px;
  border: 1px solid black;
}

.photo-page .card-desc {
  /* position: relative; */
  padding: 0px 10px;
  color: #000;
  border: 1px solid #000;
}

.photo-page .card-desc .author {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.photo-page .card-desc > div {
  padding-bottom: 10px;
  padding-top: 10px;
}

.photo-page .card-desc a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.photo-page .card-desc a:hover {
  text-decoration: underline;
  color: #6B3FC4;
}

.photo-page .likes-field {
  position: relative;
  min-height: 42px;
}

.photo-page .likes-field .like {
  opacity: 1;
}

.photo-page .likes-field .like,
.photo-page .likes-field .like-hover {
  position: absolute;
  top: 0px;
  Left: 0px;
  width: 32px;
  height: 32px;
}

.photo-page .likes-field .spinner {
  position: absolute;
  top: 0px;
  Left: 0px;
  width: 32px;
  height: 32px;
  color: #ff3366;
}

.photo-page .likes-field .likes {
  position: absolute;
  top: 0px;
  Left: 40px;
  color: #ff3366;
  font-size: 24px;
  font-weight: 800;
}

.photo-page .likes-field .like, 
.photo-page .likes-field .like-hover {
  /* right: 10px; */
  color: #ff3366;
  cursor: pointer;
}

.photo-page .likes-field .like-hover {
  opacity: 0;
}

.photo-page .likes-field .like-hover:hover {
  opacity: 1;
}

.photo-page .likes-field .like:hover {
  opacity: 0;
}

.photo-page .likes-field .liked {
  opacity: 1;
}