.grid-item {
  position: relative;
}

.grid-item .photo {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  object-position: center top;
}

.card .card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background-color: #333;
  opacity: 0;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}

.card .card-background:hover {
  opacity: 0.9;
}

.card .author-image {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  margin: 5px;
  border: 1px solid white;
}

.card .card-desc .author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .card-desc a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.card .card-desc a:hover {
  text-decoration: underline;
  color: #6B3FC4;
}

.card .likes-field {
  position: absolute;
  top: 10px;
  width: 32px;
  height: 32px;
  right: 10px;
}

.card .eye,
.card .like {
  opacity: 1;
}

.card .eye,
.card .eye-hover {
  top: 10px;
}

.card .eye,
.card .like,
.card .eye-hover,
.card .like-hover {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.card .eye,
.card .eye-hover {
  left: 10px;
  color: #3399ff;
}

.card .like,
.card .like-hover,
.card .spinner {
  color: #ff3366;
}

.card .like-hover,
.card .eye-hover {
  opacity: 0;
}

.card .like-hover:hover,
.card .eye-hover:hover {
  opacity: 1;
}

.card .like:hover,
.card .eye:hover {
  opacity: 0;
}

.card .liked {
  opacity: 1;
}
