* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .card:nth-of-type(3n) {
  grid-column: span 2;  
}

.card:nth-of-type(5n) {
  grid-row: span 2;  
} */

/* .card {
  cursor: pointer;
  background-color: transparent;
  height: 250px;
  width: 250px;
  perspective: 1000px;
} */

.card .photo {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  object-position: center top;
}

/* .card h1 {
  font-size: 24px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card .photo {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  object-position: center top;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px solid black;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

.card-desc {
  font-size: 14px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
} */